body{
    background:#efe7e2;
  }
  .center{
    margin:auto;
    width:1000px;
  }
  .middle{
    text-align:center;
  }
  .center-small{
    margin:0 auto;
  }
  .heading{
    font-family: 'Playfair Display', serif;
  }
  .ml-10{
    margin-left:25px;
  }
  .plr-10{
    padding-left:10px;
    padding-right:10px;
  }